<pip-drilldown-list>
  <button mat-button class="pip-drilldown-list-item pip-selected" >
        <div class="pip-content">
            <mat-icon class="pip-icon">chat_bubble</mat-icon>
            <p class="pip-title">Chat</p>
            <mat-icon>chevron_right</mat-icon>
        </div>
    </button>
  <button mat-button class="pip-drilldown-list-item pip-drilldown-list-item-lg">
        <div class="pip-content">
            <mat-icon class="pip-icon">mail</mat-icon>
            <div class="pip-subcontent">
                <p class="pip-title">Mails</p>
                <p class="pip-subtitle">Inbox: 23</p>
            </div>
            <mat-icon>chevron_right</mat-icon>
        </div>
    </button>
  <button mat-button class="pip-drilldown-list-item">
        <div class="pip-content">
            <mat-icon class="pip-icon">folder</mat-icon>
            <p class="pip-title">Files</p>
            <mat-icon>chevron_right</mat-icon>
        </div>
    </button>
  <button mat-button class="pip-drilldown-list-item pip-drilldown-list-item-lg pip-selected">
        <div class="pip-content">
            <mat-icon class="pip-icon">group</mat-icon>
            <div class="pip-subcontent">
                <p class="pip-title">Friends</p>
                <p class="pip-subtitle">Upcoming: 2</p>
            </div>
            <mat-icon>chevron_right</mat-icon>
        </div>
    </button>
</pip-drilldown-list>
