<pip-shadow visible="true" attachmentSide="top"></pip-shadow>
<pip-shadow visible="true" attachmentSide="left"></pip-shadow>
<pip-shadow visible="true" attachmentSide="right"></pip-shadow>
<pip-card-layout fxFlex="fill" [transparent]="isTransparent">
    <mat-card>
        <mat-card-content>
            <mat-progress-bar mode="indeterminate" class="pip-loading" *ngIf="loading"></mat-progress-bar>
            <h2 class="pip-title">{{title}}</h2>
            <h4 class="pip-subtitle" [innerHTML]="subtitle" *ngIf="subtitle"></h4>

            <p *ngIf="error" class="pip-error">
                {{error.message || error}}
            </p>
            <form #_resetForm="ngForm" fxLayout="column" fxLayoutGap="16px">
                <div fxLayout="column" fxLayoutGap="8px">

                    <a *ngIf="showUrl && !changeUrl" (click)="changeUrl = true" class="pip-link pip-server">{{changeServerUrlName}}</a>

                    <mat-input-container *ngIf="showUrl && changeUrl">
                        <input matInput [placeholder]="serverUrlName" type="url" id="serverUrl" name="serverUrl" [(ngModel)]="serverUrl" #_serverUrl="ngModel"
                            required [pattern]="serverUrlPattern" />
                        <mat-error *ngIf="_serverUrl.errors?.required">{{serverUrlRequired}}</mat-error>
                        <mat-error *ngIf="_serverUrl.errors?.pattern">{{serverUrlInvalid}}</mat-error>
                    </mat-input-container>
                    <mat-input-container>
                        <input matInput [placeholder]="emailName" type="email" id="email" name="email" [(ngModel)]="email" #_email="ngModel" required
                            [pattern]="emailPattern" />
                        <mat-error *ngIf="_email.errors?.required">{{emailRequired}}</mat-error>
                        <mat-error *ngIf="_email.errors?.pattern">{{emailInvalid}}</mat-error>
                    </mat-input-container>
                    <mat-input-container>
                        <input matInput [placeholder]="codeName" type="text" id="code" name="code" [(ngModel)]="code" #_code="ngModel" required />
                        <mat-error *ngIf="_code.errors?.required">{{codeRequired}}</mat-error>
                    </mat-input-container>
                    <mat-input-container>
                        <input matInput [placeholder]="passwordName" type="password" id="password" name="password" [(ngModel)]="password" #_password="ngModel"
                            required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,}$" />
                        <mat-error *ngIf="_password.errors?.required">{{passwordRequired}}</mat-error>
                        <mat-error *ngIf="_password.errors?.pattern">{{passwordInvalid}}</mat-error>
                    </mat-input-container>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions class="pip-footer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <div fxFlex></div>
            <button mat-button *ngIf="!loading" type="button" (click)="onCancel()">{{cancelName}}</button>
            <button mat-button *ngIf="!loading" type="button" color="accent" [disabled]="!_resetForm.form.valid" (click)="onSubmit()">{{resetName}}</button>
            <button mat-button *ngIf="loading" type="button" color="warn" (click)="onAbort()"> {{abortName}} </button>
        </mat-card-actions>
    </mat-card>
</pip-card-layout>