<pip-shadow visible="true" attachmentSide="top"></pip-shadow>
<pip-shadow visible="true" attachmentSide="left"></pip-shadow>
<pip-shadow visible="true" attachmentSide="right"></pip-shadow>
<pip-card-layout fxFlex="fill" [transparent]="isTransparent">
    <mat-card>
        <mat-card-content>
            <h2 class="pip-title">{{title}}</h2>
            <h4 class="pip-subtitle" [innerHTML]="subtitle" *ngIf="subtitle"></h4>

            <form #_signinForm="ngForm" fxLayout="column" fxLayoutGap="16px">
                <div fxLayout="column" fxLayoutGap="8px">

                    <a *ngIf="showUrl && !changeUrl" (click)="changeUrl = true">{{changeServerUrlName}}</a>
                    <mat-input-container *ngIf="showUrl && changeUrl">
                        <input matInput [placeholder]="serverUrlName" type="url" id="serverUrl" name="serverUrl" [(ngModel)]="serverUrl" #_serverUrl="ngModel"
                            required [pattern]="serverUrlPattern" />
                        <mat-error *ngIf="_serverUrl.errors?.required">{{serverUrlRequired}}</mat-error>
                        <mat-error *ngIf="_serverUrl.errors?.pattern">{{serverUrlInvalid}}</mat-error>
                    </mat-input-container>
                    <mat-input-container>
                        <input matInput [placeholder]="emailName" type="email" id="email" name="email" [(ngModel)]="email" #_email="ngModel" required
                            [pattern]="emailPattern" />
                        <mat-error *ngIf="_email.errors?.required">{{emailRequired}}</mat-error>
                        <mat-error *ngIf="_email.errors?.pattern">{{emailInvalid}}</mat-error>
                    </mat-input-container>
                    <mat-input-container>
                        <input matInput [placeholder]="passwordName" type="password" id="password" name="password" [(ngModel)]="password" #_password="ngModel"
                            required pattern="^\w{6,20}$" />
                        <mat-error *ngIf="_password.errors?.required">{{passwordRequired}}</mat-error>
                        <mat-error *ngIf="_password.errors?.pattern">{{passwordInvalid}}</mat-error>
                    </mat-input-container>

                    <a [href]="forgotLink" *ngIf="forgotTitle" class="pip-link">{{forgotTitle}}</a>

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <button mat-raised-button *ngIf="!loading" type="button" fxFlex="100" color="accent" [disabled]="!_signinForm.form.valid"
                            (click)="onSubmit()">{{signinName}}</button>
                        <button mat-raised-button *ngIf="loading" type="button" fxFlex="100" color="warm" (click)="onAbort()"> {{abortName}} </button>
                    </div>
                    <p [innerHtml]="signupLink"></p>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</pip-card-layout>