

@import '~@angular/material/theming';
@import "../../node_modules/pip-webui2-themes/src/styles.scss";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

@mixin drilldown-select-mixin($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
  
    :host  /deep/ .pip-drilldown-list-item.pip-selected  {
      
      border-left: 5px solid mat-color($primary) !important;
    }
}
  .unicorn-dark-theme { 
    @include drilldown-select-mixin($dark-theme); 
  }
  .candy-theme { 
    @include drilldown-select-mixin($candy-app-theme); 
  }

  .pip-blue-theme{
    @include drilldown-select-mixin($pip-blue-theme);
  }
  .pip-grey-theme{
    @include drilldown-select-mixin($pip-grey-theme);
  }
  .pip-navy-theme{
    @include drilldown-select-mixin($pip-navy-theme);
  } 
  .pip-amber-theme{
    @include drilldown-select-mixin($pip-amber-theme);
  }
  .pip-green-theme{
    @include drilldown-select-mixin($pip-green-theme);
  }
  .pip-orange-theme{
    @include drilldown-select-mixin($pip-orange-theme);
  }
  .pip-pink-theme{
    @include drilldown-select-mixin($pip-pink-theme);
  }
  .pip-dark-theme{
    @include drilldown-select-mixin($pip-dark-theme);
  }
  .pip-black-theme{
    @include drilldown-select-mixin($pip-black-theme);
  }
  .bootbarn-warm-theme{
    @include drilldown-select-mixin($bootbarn-warm-theme);
  }
  .bootbarn-cool-theme{    
    @include drilldown-select-mixin($bootbarn-cool-theme);
  }
  .bootbarn-mono-theme{
    @include drilldown-select-mixin($bootbarn-mono-theme);
  }