:host {
  /deep/ .pip-drilldown-list-item {
    opacity: 0.54;
    height: 48px;
    width: 100%;
    margin: 0 !important;
    padding-left: 24px;
    padding-right: 16px;
    border-radius: 0 !important;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-transform: none !important;
    font: normal 500 16px Roboto;
    mat-icon {
      -webkit-box-flex: 0 0 auto;
      -moz-box-flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      min-width: 24px;
    }
    .mat-button-wrapper {
      width: 100%;
    }
    .pip-content {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex-direction: row;
      -moz-box-flex-direction: row;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -moz-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
    }
    &.pip-selected {
      padding-left: 19px;
      background-color: rgba(158, 158, 158, 0.2);
      border-left: 5px solid rgba(33, 150, 243, 0.5) !important;
    } 
    .pip-title {
      text-align: start;
      margin: 0;
      margin-right: 16px;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      margin-right: 16px;
      height: 25px;
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      box-sizing: border-box;
    }
    .pip-subtitle {
      font: normal 400 14px Roboto;
      opacity: 0.54;
      text-align: start;
      margin: 0 24px 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .pip-icon {
      margin-right: 26px;
    }
    &.pip-drilldown-list-item-lg {
      height: 64px;
      .pip-title {
        margin-top: 1px !important;
        margin-bottom: 4px !important;
      }
      .pip-subcontent {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        box-sizing: border-box;
        .pip-title {
          height: initial;
        }
      }
    }
  }
}

::ng-deep .pip-main-xs .pip-main .pip-drilldown-list-item,
 ::ng-deep .pip-main-xs .pip-main .pip-drilldown-list-item {
  padding-left: 16px;
  padding-right: 10px;
  &.pip-selected {
    padding-left: 11px;
  }
}



@import '~@angular/material/theming';
@import "../../node_modules/pip-webui2-themes/src/styles.scss";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

@mixin drilldown-select-mixin($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
  
    :host  /deep/ .pip-drilldown-list-item.pip-selected  {
      
      border-left: 5px solid mat-color($primary) !important;
    }
}
  .unicorn-dark-theme { 
    @include drilldown-select-mixin($dark-theme); 
  }
  .candy-theme { 
    @include drilldown-select-mixin($candy-app-theme); 
  }

  .pip-blue-theme{
    @include drilldown-select-mixin($pip-blue-theme);
  }
  .pip-grey-theme{
    @include drilldown-select-mixin($pip-grey-theme);
  }
  .pip-navy-theme{
    @include drilldown-select-mixin($pip-navy-theme);
  } 
  .pip-amber-theme{
    @include drilldown-select-mixin($pip-amber-theme);
  }
  .pip-green-theme{
    @include drilldown-select-mixin($pip-green-theme);
  }
  .pip-orange-theme{
    @include drilldown-select-mixin($pip-orange-theme);
  }
  .pip-pink-theme{
    @include drilldown-select-mixin($pip-pink-theme);
  }
  .pip-dark-theme{
    @include drilldown-select-mixin($pip-dark-theme);
  }
  .pip-black-theme{
    @include drilldown-select-mixin($pip-black-theme);
  }
  .bootbarn-warm-theme{
    @include drilldown-select-mixin($bootbarn-warm-theme);
  }
  .bootbarn-cool-theme{    
    @include drilldown-select-mixin($bootbarn-cool-theme);
  }
  .bootbarn-mono-theme{
    @include drilldown-select-mixin($bootbarn-mono-theme);
  }