<pip-root-layout>
  <pip-rightnav-floating fxLayout="column">
    <mat-toolbar color="warn">
      <span>Inbox</span>
    </mat-toolbar>
    <mat-list>
      <mat-list-item *ngFor="let message of messages" style="cursor: pointer">
        <img matListAvatar src="{{ message.image_src }}" alt="message.subject">
        <h3 matLine> {{ message.from }} </h3>
        <p matLine>
          <span> {{message.subject}} </span>
          <span> -- {{message.content}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </pip-rightnav-floating>
  <pip-root-content>
    <pip-appbar>
      <pip-nav-icon> </pip-nav-icon>
      <pip-breadcrumb> </pip-breadcrumb>
      <div fxFlex></div>
      <pip-primary-actions> </pip-primary-actions>
      <pip-secondary-actions></pip-secondary-actions>
    </pip-appbar>
    <pip-main-layout-alt>
      <pip-sidenav>
        <pip-nav-menu></pip-nav-menu>
      </pip-sidenav>
      <pip-main-content>
        <router-outlet></router-outlet>
      </pip-main-content>
    </pip-main-layout-alt>
  </pip-root-content>
</pip-root-layout>