<pip-shadow visible="true" attachmentSide="top"></pip-shadow>
<pip-shadow visible="true" attachmentSide="left"></pip-shadow>
<pip-shadow visible="true" attachmentSide="right"></pip-shadow>
<pip-card-layout fxFlex="fill" [transparent]="isTransparent">
    <mat-card>
        <mat-card-content>
            <mat-progress-bar mode="indeterminate" class="pip-loading" *ngIf="loading"></mat-progress-bar>
            <h2 class="pip-title">{{ title }}</h2>
            <h4 class="pip-subtitle" [innerHTML]="subtitle" *ngIf="subtitle"></h4>

            <p *ngIf="error" class="pip-error">
                {{ error.message || error }}
            </p>
            <p *ngIf="showSuccess" class="pip-success">
                {{ success }}
            </p>
            <form #_verificationForm="ngForm" fxLayout="column" fxLayoutGap="16px">
                <div fxLayout="column" fxLayoutGap="8px">

                    <mat-input-container>
                        <input matInput [placeholder]="emailName" type="email" id="email" name="email" 
                            [(ngModel)]="email" #_email="ngModel" required
                            [pattern]="emailPattern" (keyup)="onChangeEmail()" />
                        <mat-error *ngIf="_email.errors?.required">{{ emailRequired }}</mat-error>
                        <mat-error *ngIf="_email.errors?.pattern">{{ emailInvalid }}</mat-error>
                    </mat-input-container>

                    <mat-input-container>
                        <input matInput [placeholder]="codeName" type="url" id="code" name="code" 
                            [(ngModel)]="code" #_code="ngModel" required [pattern]="codePattern"
                            (keyup)="onChangeCode()" />
                        <mat-error *ngIf="_code.errors?.required">{{ codeRequired }}</mat-error>
                        <mat-error *ngIf="_code.errors?.pattern">{{ codeInvalid }}</mat-error>
                    </mat-input-container>
                    
                </div>
            </form>

            <p *ngIf="resendText && resendLinkText">
                <span>{{ resendText }} </span>
                <a (click)="onResend(_email)" class="pip-link">{{ resendLinkText }}</a>
                <span>{{ resendText1 }}</span>
            </p>
        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <div fxFlex></div>
            <button mat-button *ngIf="!loading && showCancel" type="button" (click)="onCancel()">{{cancelName}}</button>
            <button mat-button *ngIf="!loading" type="button" color="accent" 
                [disabled]="!_verificationForm.form.valid" (click)="onSubmit()">{{verificationName}}</button>
            <button mat-button *ngIf="loading" type="button" color="warm" (click)="onAbort()"> {{abortName}} </button>
        </mat-card-actions>
    </mat-card>
</pip-card-layout>