
:host {
  display: block;
  position: relative;
  flex: 1 1 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pip-subtitle {
  opacity: 0.54;
  font-weight: 400;
}

.pip-title {
  font-weight: 500;
  font-size: 20px;
  margin-top: 0px;
}

.pip-footer {
  margin-top: 8px;
  margin-bottom: 4px !important;
}

.pip-footer-text {
  margin-bottom: 0px;
}

.pip-loading {
  position: absolute;
  width: 100%;
  left: 0;
  top: 1px;
}

.pip-server {}
