
:host {
  display: block;
  position: relative;
  flex: 1 1 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@import '~@angular/material/theming';
@import "~pip-webui2-themes/src/styles.scss";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

:host .mat-card-header-text {
    margin: 0px;
    vertical-align: middle;
}

.pip-subtitle {
  opacity: 0.54;
  font-weight: 400;
}

.pip-title {
  font-weight: 500;
  font-size: 20px;
}
