

::ng-deep .mat-toolbar .mat-select-value {
    color: #fff !important;
    text-align: end !important;
}

::ng-deep .mat-form-field-underline {
    //display: none !important;
}

::ng-deep .mat-input-infix {
    //width: 200px;
}

.pointer {
    cursor: default;
}
