<pip-root-layout>
    <pip-sidenav-floating style="height: 100%">
        <examples-list [list]="list" [selectedItemIndex]="listIndex" (selectedItemIndexChange)="onListItemIndexChanged($event);">
        </examples-list>
    </pip-sidenav-floating>
    <pip-root-content>
        <pip-appbar [ngSwitch]="showIcon$ | async">
            <span fxLayout="row" fxLayoutAlign="start center" fxFlex="grow">
            <button mat-icon-button *ngIf="activeMediaQuery" >
                <mat-icon (click)="onMenuClick()">reorder</mat-icon>
            </button>
            <span fxFlex="grow" class="pointer">{{app}}</span>
            <mat-form-field>
                <mat-select [(ngModel)]="theme" (ngModelChange)="changeTheme($event)">
                    <mat-option *ngFor="let theme of themes" [value]="theme">
                        {{themesLocalNames[theme.name]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </span>
        </pip-appbar>
        <pip-main-layout fxFlex="grow">
            <pip-sidenav-fixed style="height: 100%">
                <examples-list *ngIf="!activeMediaQuery" class="mat-elevation-z6 nav" [list]="list" [selectedItemIndex]="listIndex" (selectedItemIndexChange)="onListItemIndexChanged($event)">
                </examples-list>
            </pip-sidenav-fixed>
            <pip-main-content>
                <router-outlet></router-outlet>
            </pip-main-content>
        </pip-main-layout>
    </pip-root-content>
</pip-root-layout>